* {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h2.brushes {
background-color: mediumspringgreen;
}

h2.frames {
  background-color: lightcoral;
}

h2.paint {
  background-color: skyblue;
}

strong {
  font-weight: bold;
  color: blue;
}
